/* common styles */
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px 25px ;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* header styles  */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-tittle{
    color: var(--dark-01, #131313);
    font-size:2rem;
    font-weight: 700;
}
.nav-tittle span{
    color: orangered;
}
nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 40px;
    color: var(--dark-02, #424242);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
nav li a{
    text-decoration: none;
}

/* banner section styles */
.banner img{
    width:100%;
    margin-top: 20px;
}
.banner-content{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: var(--dark-01, #131313);
    font-size:3rem;
    font-weight: 700;
}
.banner-discription{
    color: var(--dark-03, #727272);
    font-size:1rem;
    font-weight: 400;
    line-height: 26px;
}

/* main styles  */
main{
    max-width: 1440px;
    margin: 70px 140px;
}
/* teams-container styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.teams-content{
    padding-right:70px ;
    padding-left: 70px;
}
.teams-content-title{
    font-size: 2.5rem;
}
.teams-content-title .Quick{
    color: var(--dark-03, #727272);
    font-size: 45px;
    font-weight: 500;
}
.teams-content-title . of Our{
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}
.teams-content-title .Features{
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}
.teams-description{
    color: var(--dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


/* Responsive styles */
/* mobile devices */
@media screen  and (max-width:576px){
    .header{
        padding: 20px;
    }
    nav, .teams-container{
        flex-direction: column;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-right:10px;
        padding-left:10px;
    }
}
/* tablet devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .header{
        padding: 40px;
    }
    nav , .teams-container{
        flex-direction: column;
    }
}